body {
    background-image: url(../images/texture.png);
    padding: 10px;
}
.nav{ 
    position: relative;}
.cBox{
    
    width: 98%;
    background-color: gray;
    
   border: solid;
   margin-top: 10px;
   
    
}


.container{
    padding:16px;
    font-size: 10px;
    
}