@import url("nav.css"); 
@import url("body.css");
.container{
    padding:16px;
}
.text{
    width: 100%;
    padding: 12px 20px;
   
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.uNp {
    float: left;
    font-size: 20px;
    padding-top: 10px;
}
button{
    background-color: orangered;
    color: white;
    padding: 14px 20px;
    margin: 40px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover{
    opacity: 0.8;
}
.avatarBox{
    text-align: center;
    margin: 24 0 12px 0;
    padding-top: 10px;
}
.avatar{
    border: solid;
width: 40%;
    border-radius: 100px;
    padding: 10px;
    
    
}
.container a {
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
}