@import url("nav.css"); 
@import url("body.css");
button{
    background-color: orangered;
    color: white;
    padding: 14px 20px;
    /* margin: 40px 0; */
    border: none;
    cursor: pointer;
    width: 100%;
   
}
#form{
    
    width: 98%;
    border: solid;
    background-color: gray;
    margin-top: 10px;
    
    
}
.submit {
    
    padding: 14px 20px;
    background-color: orangered;
    width: 90%;
    margin-bottom: 10px;

    
}
.center {text-align: center;}
#eCap{
    background-color: white;
}
form{padding-left: 10px;}