/* NAVIGATION */
@import url("nav.css");
/* SECTION 1  */

.one {
    background-image: url(../images/bg1.jpg);
}

.container {
width: 92%;
margin: 0 auto;
}

.title{
font-size: 2.1rem;
text-align: center;
}

.title span {
    font-weight: 300;
    display: block;
}

/* BUTTONS */

.button{
    
    font-size: 18px;
    text-decoration: none;
    border-width: 2px;
    color: white;
    padding: 20px 35px;
    display: inline-block;
    border-radius: 10px;
    background-color: orange;
   
}
/* SECTION 2  */


.container2{
    z-index: -2;
    position: absolute;
    width: 100%;
    margin: 0 auto;
   
    height: 400px;
    top: 50%;
}
.container2 img{
    position: absolute;
    width: 100%;
    height: 450px;
}
.containerIn {
    padding: 0;
    
    /* border: solid; */
    position: absolute;
    padding: 10px;
    top: 15%;
    
}

.container2 h1,p {
   text-align: center;
   color: white;
}
.box{
    /* border: solid; */
    padding-left:5px;
    width: 100px;
    height: 80px;
    display: inline-block;
    
    
}
.box img {
    width: 50px;
    height: 50px;
    padding-left: 45px;
    padding-bottom: 20px;
    margin: 0;
}
.box p {
    
 position: absolute;
 bottom: 0;
 color: white;
 padding: 1px 0 0 30px;
 /* padding-left: 25px */
 
;
    
}
footer {
    position: relative;
    border: solid;
    height: 140px;
    width:98%;
    background-color: black;
    top: 40%;
    
}
footer h1 {
    color: white;
    text-align: center;
}
footer p {
    display: inline;
    
}
@media only screen and (max-width : 500px){
    /* NAVIGATION */
    
}
  