@import url("nav.css"); 
@import url("body.css"); 

.box {display: inline-block;
padding-left: 20px;
padding-right: 25px;
}
.button {
    background-color: orangered;
    color: white;
    padding: 14px 20px;
    margin: 40px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    
}
.cBox {background-color: gray);
text-align: center;}
.cBoxF{
    background-color: black;
    width: 98%;
    border: solid;
    margin-top: 10px;
    height: 100px;
}
.cBoxF h1 {
    color: white;
    text-align: center;
}
@media only screen and (max-width : 500px){
    
    
}
  